* {
  font-family: "Merriweather Sans", sans-serif;
}
.navbar-brand {
  color: #ff8f00;
  font-size: 2.3rem;
  font-weight: bold;
}
#top-header {
  background-color: #ff8f00 !important;
}

.btn-md-square {
  width: 44px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-search {
  color: #ff8f00 !important;
  border-color: #ff8f00 !important;
  transition: 0.5s;
}
.btn-search:hover {
  background-color: #ff8f00 !important;
  color: white !important;
}

.btn-cart-user {
  color: #ff8f00 !important;
  transition: 0.3s;
}
.btn-cart-user:hover {
  opacity: 0.8;
}

.btn-cart-user i {
  font-size: 1.5rem;
}

/* Hero Section Design */

.hero-section {
  background-color: #f4f6f8;
  overflow: hidden;
}

.hero-bg-overlay {
  background-image: url("image/background.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: 1;
}

.hero-section .form-control {
  padding-right: 140px !important;
}

.hero-text {
  color: #ff8f00;
}

.btn-search {
  background-color: #ff8f00 !important;
  color: white !important;
  border-color: #ff8f00 !important;
  transition: 0.5s;
}

/* Service Cards design */
.feat-card {
  background-color: #f4f6f8 !important;
  border: none;
  transition: all 0.3s ease;
}

.feat-card:hover {
  transform: translateY(-5px);
}

.feat-icon-box {
  width: 90px;
  height: 90px;
  background-color: #ff8f00;
  border-radius: 50%;
  z-index: 2;
}

.feat-icon-box::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #ff8f00;
  z-index: -1;
}

.feat-icon-box i {
  color: #ffffff;
}
